{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- Games Poster -->
<div class="game-poster">
  <!-- <header class="games-header">EVENTS</header> -->
<div class="row games-poster-align  ">
  <!-- <div class="card card-custom card-first col-lg-3" style="width: 18rem;">
    <img src="{% static '/images/wetransfer_poster-1-png_2022-01-17_1423/POSTER 1.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      
      <p class="card-text">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  RULES AND REGULATIONS
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
        </div>
      </p>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" href="#" type="button">Register</button>
      </div>
    </div>
  </div>
  <div class="card card-custom col-lg-3" style="width: 18rem;">
    <img src="{% static '/images/wetransfer_poster-1-png_2022-01-17_1423/POSTER 2.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      
      <p class="card-text">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                  RULES AND REGULATIONS
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
        </div>
      </p>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" href="#" type="button">Register</button>
      </div>
    </div>
  </div>
  <div class="card card-custom col-lg-3" style="width: 18rem;">
    <img src="{% static '/images/wetransfer_poster-1-png_2022-01-17_1423/POSTER 3.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
     
      <p class="card-text">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                  RULES AND REGULATIONS
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
        </div>
      </p>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" href="#" type="button">Register</button>
      </div>
    </div> -->
    
  </div>
  <div>
    <div class="video-container">
      <video autoplay muted loop>
        <source src="{%static '/images/wetransfer_poster-1-png_2022-01-17_1423/video.mp4'%}" type="video/mp4">
      </video>
      <div class="caption">
        <div class="card card-custom col-lg-3" style="width: 18rem;">
          <img src="{% static '/images/wetransfer_poster-1-png_2022-01-17_1423/POSTER 4.png' %}" class="card-img-top" alt="...">
          
          <div class="card-body">
            
            <p class="card-text">
              
              <div>
                  <div >
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                      Rules and Regulations
                    </button>
                    
                    <!-- <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne">
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div> -->
                    
              </div>
            </p>
            <p class="card-text">
              <div>
                <div class="accordion-item">
                  <p>
                    Maximum Participants: 2000
                  </p>
                </div>
              </div>
            </p>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" href="#" type="button" style="width: 100%;">Register</button>
            </div>
          </div>
        </div>
        
      </div>
      
      </div>
      </div>
      </div>
    </div>
    
  




<!-- News Updates -->

<!-- <div class="row">
    <div class="col-lg-12 streamsection ">
        <span ><h2>STREAMS/VIDEOS</h2></span>
    </div>
</div> -->
<!-- Carousel -->
<hr>
<div class="row ">
  <div class="col">
      <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static '/images/gow-resized.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static '/images/pes-resized.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static '/images/csgo-resized.jpg' %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
  </div> -->
  <!-- RankBoard
  <div class="col-lg-3 rankboard">
      <nav class="navbar navbar-expand-lg navbar-dark bg-light">
          <div class="container-fluid">
              <a href="#" class="navbrand">G1</a>
              <a href="#" class="navbrand">G2</a>
              <a href="#" class="navbrand">G3</a>

          </div>
          
      </nav>
      <div class="teams">
          <h3 class="TeDetails">Team 1 details</h3>
          <h3 class="TeDetails">team 2 deatils</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3>
          <h3 class="TeDetails">team 3 details</h3> 
      </div>
  </div>
</div> -->


<!-- Accordion -->
<!-- <div class="accordion accPosition" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button accSettings" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          STREAMS/VIDEOS
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item ">
      <h2 class="accordion-header accSettings" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed accSettings " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          NEWS
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    
  </div> -->

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">MATCH RULES</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>(‌1) NO RESTRICTIONS IN TEAM OR PLAYERS</p>
          <p>(‌2) KNOCKOUT TOURNAMENT [ EXTRA TIME & PENALTY -- MUST ]</p>
          <p>(‌3) 6 MIN MATCH TIME</p>
          <p>(‌4) WALKOVER WIN [ 1-0 ]</p>
          <p>(‌5) You must provide clear evidence before 10:30 to receive WALKOVER and make a legal decision [ Screen shot ]</p>
          <p>(‌6) LAST MESSAGE TIME to opponent - 10:00 PM</p>
          <p>(A) Continuing to play BACK PASS [ Gk 🔄 player purposefully ] or LONG BALLS [ Repeatedly and unfair ], with PROOF [ video ] will take legal decision which may result in being REMOVED from the TOURNAMENT</p>
          <p>(B) Performing NULL-MATCHES by any player will be RULED OUT of tournament on providing PROOF [ Screenshots, Video ] from opponent</p>
          <hr>
          <h4><b>CONNECTION/CONNECTIVITY PROBLEMS AND SOLUTIONS</b></h4>
          <p>(1)  If the match is cut between 0-15 minutes -- play 90Mins REMATCH and AGG SCORE [Complete REMATCH with Goals scored within 15 min IF ANY]</p>
          <p>‌(2)  If match is cut between 15-30 Mins -- play 75 Mins REMATCH and AGG SCORE</p>
          <p>(3) If match is cut between 30-45 Mins -- play 60 Mins REMATCH and AGG SCORE</p>
          <p>‌(4)  If match is cut between 45-60 Mins -- play 45 Mins REMATCH [ Half Time ] and AGG SCORE</p>
          <p>(5)  If match is cut between 60-90 Mins -- play 30 Mins REMATCH and AGG SCORE</p>
          <p>(A) The goal is awarded if the opponent's connection is disconnected while the goal is being scored. Leave a screenshot of -- Connection lost while scoring goal. If you don't, goal will not be awarded</p>
          <p>(B) Making LAG by any unfair methods with PROOF [ Video ] from opponent will result in being REMOVED from the TOURNAMENT</p>
          <p>(C) Making a MATCH CUT without a clear REASON AND PROOF will give WIN to OPPONENT</p>
          <p>(C) Making a MATCH CUT without a clear REASON AND PROOF will give WIN to OPPONENT</p>
          <hr>
          <h4><b>IMPORTANT</b></h4>
          <p>‌(1)  FIXTURE will be posted at 11:00 PM Daily</p>
          <p>‌(2) All MATCHES must be played before DEAD LINE -- 11pm</p>
          <p>‌(3) If you feel lag due to poor connectivity, you should CUT at that moment [ inform opponent ] and follow above CONNECTIVITY RULES or else it will not be considered after the game</p>
          <p>‌(4) ADMINS will consult and make a decision in case of any PROBLEM other than above RULES [please provide proofs if you can]</p>
          <hr>
          <h4><b>PRE - MATCH POINTS</b></h4>
          <p>(1) CHANGE TEAM NAME* IN PES AS ISSUED CID-ID BEFORE MATCH  [ TO AVOID  MALPRACTICES AND WIN-CLAIM BY OPPONENTS ]</p>
          <p>(2) MATCH TIME -- 6 MIN</p>
          <p>(3) EXTRA TIME AND PENALTY MUST BE ENABLED [ KNOCK OUT MATCH ]</p>
          <p>(4) WINNERS MUST SUBMIT RESULTS TO ADMIN AFTER MATCH [ SCREENSHOT ]</p>
          <p>(5) PLAYERS WHO EXIT GROUP ARE CONSIDERED AS WALKOVER AFTER DEADLINE</p>
          <p>(6) PLAYERS CAN CONTACT ADMIN IF OPPONENTS ARE UNAVAILABLE BEFORE DEADLINE [ WILL BE DECLARED AS WALKOVER ]</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %} 