
{% load static %}

<!-- Secondary navbar for logo and paetnership display -->

<div class="navbar navbar-expand-lg navbar-dark">
  <img src="{%static 'images/wetransfer_poster-1-png_2022-01-17_1423/1x/Artboard 1.png'  %}" class="navbar-brand image-control">       
</div>
<!-- <div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="typewriter ms-auto me-auto">
      <h3 class="ms-auto me-auto">Gaming Refined...</h3>
    </div>
</div> -->
<!-- <div class="navbar navbar-expand-lg navbar-dark navi-settings">
  <div class="container-fluid partnership">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navDataBase" aria-controls="navDataBase" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navDataBase">
          <ul class="navbar-nav mb-2 ms-auto me-auto mb-lg-0">
              <li class="nav-item primary-items">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item primary-items">
                  <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item dropdown primary-items">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item primary-items">
                  <a class="nav-link" href="#">Register Now</a>
                </li>
          </ul>

      </div>
  </div>
</div> -->
