body{
  background-color:#181818;
  padding:0 1.5rem;
  margin:0;
  overflow-x: hidden;
}


/* Typing Effect Styles */
.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 72, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color:white;
  text-align: center;

  animation: 
    typing 3.5s steps(40, end) ,
    blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 81, 0); }
}

/* .outer{
  padding:0 1rem;
} */
.video-container {
  height: 600px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 30px;
  margin-top: 70px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8029586834733894) 50%, rgba(255,255,255,0) 100%);
}

.navi-settings{
  padding-bottom: 0;
 background-color:#24262c;
}
.navbar{
  width: 100vw;
}
.partnership{
  background: color #24262c;
}

.upper-section{
  background-color: #fff;
}


.image-align{
  width:5%;
  border-radius: 100%;
}

.image-control{
  width:14%;
  text-align: center;
  margin-left: 43%;
  height: auto;
}

.gaming-carousel-position{
  position:absolute;
  left:1rem;
  margin-bottom: 0;
  margin:0;
}


.carouselPadding{
margin:2rem ;
margin-bottom: 0;;
padding-left: 0;
padding-right: 0;
}

.carousel-align{
  width:70%;
  height:50%;
  text-align: center;
  
}
.carousel-item {
  height: 29rem;
  overflow: hidden;
  width: 100%;
  
  }
.carousel-item img {
  width: 100%;
  }
.rankboard{
  padding-left:0;
}
.teams{
  background-color:#505050;
  max-height:25rem;
  overflow-y:scroll;
  padding:0;
  margin: 0;
  scrollbar-color: grey #181818;
}


.rankboard a{
  text-decoration: none;
  color:black;
  overflow:hidden!important;
}

.TeDetails{
  background-color: #433F3f;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.streamsection{
  background-color: #181818;
  color:#fff;
  margin:0 0.75rem;
}

@keyframes colorchange {
  0%{
      background-color: #696969;
      color:#303030
  }
  50%{
      background-color: #484848;
      color:#909090;
      

  }
  100%{
      background-color:#080808;
      color:#F5F5F5;
  }
  
}

.streamsection:hover{
  /* color: green; */
  animation: colorchange 4s infinite both;
}

.accSettings{
  background-color:#181818 ;
  color:#fff;
}

.accPosition{
  margin-top: 3%;
}

.games-header{
  font-size:1.5rem;
  color:#fff; 
  text-align: center;
  background-color:#303030;
  margin:1rem 0;
  margin-top:0;
  /* animation:colorchange 4s infinite both; */
}
.card-custom{
  margin-left: 10%;
  /* padding:0; */
  margin-top:2%;
  display: flex;
  flex-direction: row;
  gap: 10px 20px;

}

.card {
  background-color: transparent;
}
.card-body {
  width: 600px;
}
.card-body > h3{
  width: 500px;
  color: red;
}
.card-text {
  width: 500px;
  color: yellow;
}
.card-body > .buttons{
  display: inline-flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.card-body > .buttons > .gap-2{
  flex-wrap: wrap;
  padding: 10px;
}

/* footer styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.footer-body {
display: flex;
/* background: #333; */
justify-content: flex-end;
align-items: flex-end;
min-height: 40vh;
min-width: 100vw;
}

.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 1rem;
font-weight: 300;
}

.wave {
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background: url("https://i.ibb.co/wQZVxxk/wave.png");
background-size: 1000px 100px;
}

.wave#wave1 {
z-index: 1000;
opacity: 1;
bottom: 0;
animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
z-index: 999;
opacity: 0.5;
bottom: 10px;
animation: animate 4s linear infinite !important;
}

.wave#wave3 {
z-index: 1000;
opacity: 0.2;
bottom: 15px;
animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
z-index: 999;
opacity: 0.7;
bottom: 20px;
animation: animate 3s linear infinite;
}

@keyframes animateWaves {
0% {
  background-position-x: 1000px;
}
100% {
  background-positon-x: 0px;
}
}

@keyframes animate {
0% {
  background-position-x: -1000px;
}
100% {
  background-positon-x: 0px;
}
}

.typealign{
margin-left: 38%;
}

.primary-items{
padding:0 1.5rem;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

a {
  color: inherit;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

@media screen and (max-width:991px) {
  .rankboard {
      padding:0.75rem;
  }
  body{
    padding:0;
  }
  .image-control{
    width:30%;
    text-align: center;
    margin-left: 40%;
}
.card-custom{
  margin: 0.25rem auto;
  margin-top: 0.25rem;
  flex-direction: column;
  gap: 0;
  border: none;
}
.btn{
  width: 100%;
}
.video-container {
  height: 800px;
}
.video-container .caption{
  margin-top: 0;
  text-align: left;
}
.card-body {
  width: 300px;
}
.card-body > h3{
  width: 300px;
  color: red;
}
.card-text {
  width: 300px;
  color: yellow;
  line-height: normal;
  margin-right: 70px;
}
.card-text-content{
  line-height: 80%;
}
.card-body > .buttons{
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.card-body > .buttons > .gap-2{
  flex-wrap: wrap;
  padding: 10px;
}

  
}